<section>
  <aside class="aside-menu">
    <h4>Nombre Usuario</h4>
    <ul>
      <li><a routerLink="/Activos">Activos</a></li>
      <!---->
      <li>
        <a routerLink="/movimientoIN">Movimientos IN</a>
      </li>
      <!---->
      <li>
        <a routerLink="/movimientoOUT">Movimientos Out</a>
      </li>
      <!---->
      <li>
        <a routerLink="/NovedadesDiarias">Novedades Diarias</a>
      </li>
      <!---->
      <li>
        <a routerLink="/Danios">Daños</a>
      </li>
      <!---->
      <li>
        <a routerLink="/Objetos">Obj</a>
      </li>
      <!---->
      <li>
        <a routerLink="/Victima">Victima</a>
      </li>
      <!---->
      <li>
        <a routerLink="/Entregado">ObjEntregado</a>
      </li>
      <!---->
      <li>
        <a routerLink="ReporteExtravio">Extraviados</a>
      </li>
      <!---->
      <li>
        <a routerLink="/ReporteHurtos">ReportesHurtos</a>
      </li>
      <!---->
      <li>
        <a routerLink="/Investigaciones">Investigaciones</a>
      </li>
      <!---->
      <li>
        <a routerLink="/investigaciones_hurtos">Investig_Hurtos</a>
      </li>
      <!---->
      <li>
        <a routerLink="/VisitasEnfermeria">Enfermeria</a>
      </li>
      <!---->
      <li>
        <a routerLink="/VisitaEspecial">Visita Especial</a>
      </li>
      <!---->
      <li>
        <a routerLink="/ReqCasual">Req Casual</a>
      </li>
      <!---->
      <li>
        <a routerLink="/arqueo">Reporte Vehiculos Sotanos</a>
      </li>
      <!---->
      <li>
        <a routerLink="/Capacitaciones">Capacitaciones</a>
      </li>

      <!---->
      <li>
        <a routerLink="/TrabajadorSexual">TrabajadorSexual</a>
      </li>
      <li>
        <a routerLink="/ServicioSexual">ServicioSexual</a>
      </li>
      <li>
        <a routerLink="/TrabajadorANDServicioSexual"
          >TrabajadorSXL_AND_ServicioSXL</a
        >
      </li>
      <!---->
      <li>
        <a routerLink="/Correspondencia">Correspondencia</a>
      </li>
      <li>
        <a routerLink="/CorrespEntregada">Corresp_Entregada</a>
      </li>
      <!---->
      <li>
        <a routerLink="/Evento">Evento</a>
      </li>
      <li>
        <a routerLink="/CotizacionGuarda">CotzGuardaEvento</a>
      </li>
    </ul>
  </aside>
  <div class="paraComponents">
    <router-outlet></router-outlet>
  </div>
</section>
