.activos {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
h3 {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 3px;
}
.activos table {
  text-align: center;
  width: inherit;
}

.activos table th {
  background-color: black;
  color: white;
  padding: 5px;
}
.activos table tbody {
  background-color: #9ba4b5;
  color: black;
}
form {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.inputs {
  display: flex;
  text-align: center;
  gap: 5px;
  background-color: #9ba4b5;
  border-radius: 5px;
  padding: 5px;
}
.inputs div {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}
.submits {
  display: flex;
  gap: 5px;
}

.submits * {
  border: none;
  border-radius: 5px;
  width: 100px;
  margin: auto;
  padding: 5px;
  background-color: #61c7c1;
}

@media (max-width: 1160px) {
  .inputs {
    flex-direction: column;
  }
}

@media (hover: hover) {
  .activos table tbody tr:hover {
    background-color: #f1f6f9;
  }
  .select {
    cursor: pointer;
  }
  .arrow {
    cursor: pointer;
  }
}
.activos p {
  width: 100%;
  border-radius: 3px;
  background-color: yellowgreen;
  text-align: center;
}
.select {
  background-color: #f1f6f9;
  color: rgb(50, 50, 171);
  text-decoration: underline;
  font-style: oblique;
}
table {
  position: relative;
  margin-bottom: 30px;
  border-collapse: collapse;
}
table thead {
  outline: rgb(0, 0, 0) solid 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
table * {
  padding: 3px;
}
.arrow {
  display: flex;
  gap: 10px;
}
